<div class="container mt-5">
    <div class="card">
        <div class="container mt-5" style="text-align: center;">
            <h3>Listado de Pacientes</h3>
            <hr>
            <div style="text-align: right;">
                <button class="btn btn-primary" data-toggle="modal" data-target="#newPaciente">Nuevo Paciente</button>
            </div>


            <div class="modal fade" id="newPaciente" tabindex="-1" role="dialog" aria-labelledby="NuevoPaciente" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="NuevoPaciente">Ingresar Nuevo Paciente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                        </div>
                        <div class="modal-body">

                            <form class="form-group" (ngSubmit)="guardar(f)" #f="ngForm">

                                <div class="container" style="text-align: center;">
                                    <div class="row row-cols-2">
                                        <div class="col"><label type="text">Rut:</label></div>
                                        <div class="col"> <input class="col-10" type="text" name="Rut" [(ngModel)]="paciente.rut" id="Rut" required placeholder="11111111"></div>

                                        <div class="col"><label type="text">Nombres:</label></div>
                                        <div class="col"> <input class="col-10" type="text" name="nombre" [(ngModel)]="paciente.nombre" id="nombre" placeholder="Nombres"></div>
                                        <div class="col"><label>Apellidos:</label></div>
                                        <div class="col"><input class="col-10" type="text" name="apellido" id="apellido" [(ngModel)]="paciente.apellido" placeholder="Apellidos"></div>
                                        <div class="col"><label for="">Télefono:</label></div>
                                        <div class="col"><input class="col-10" type="number" name="telefono" id="Télefono" [(ngModel)]="paciente.telefono" placeholder="999999999"></div>
                                        <div class="col"><label for="">Correo:</label></div>
                                        <div class="col"><input class="col-10" type="email" name="email" id="email" [(ngModel)]="paciente.correo" placeholder="ejemplo@mail.com"></div>
                                        <div class="col"><label for="">Dirección:</label></div>
                                        <div class="col"><input class="col-10" type="text" name="direccion" id="direccion" [(ngModel)]="paciente.direccion" placeholder="Av.Andres Bello #1, Chillán"></div>
                                        <div class="align-content-center"><button type="submit" class="btn btn-primary"> Guardar</button></div>
                                    </div>
                                </div>

                            </form>




                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="newConsulta" tabindex="-1" role="dialog" aria-labelledby="NuevaConsulta" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="NuevaConsulta">Ingresar Consulta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                        </div>
                        <div class="modal-body">

                            <form class="form-group" (ngSubmit)="guardarConsulta(c)" #c="ngForm">

                                <div class="container" style="text-align: center;">
                                    <div class="row row-cols-2">
                                        <div class="col"><label type="text">Paciente: </label></div>
                                        <div>
                                            <input disabled value="{{p.rut}}" type="text" [(ngModel)]="consulta.rut" name="rut" id="rut">
                                        </div>
                                        <div class="col"><label type="text ">Fecha:</label></div>
                                        <div class="col"> <input type="date" name="fecha" [(ngModel)]="consulta.fecha" id="fecha"></div>
                                        <div class="col"><label type="text ">Hora:</label></div>
                                        <div class="col"> <input class="col-10 " type="time" name="fecha" [(ngModel)]="consulta.hora" id="hora"></div>

                                        <div class="col"><label type="text">Tipo de Atención:</label></div>
                                        <div class="col"><select class="col-10" [(ngModel)]="consulta.tipoAtencion" name="tipoAtencion">
                                          <option value="Rehabilitación Oral">Rehabilitación Oral</option>
                                          <option value="Ortodoncia">Ortodoncia</option>
                                        </select></div>
                                        <div class="col"><label>Especialista:</label></div>
                                        <div class="col"><select class="col-10" [(ngModel)]="consulta.especialista" name="especialista" id="">
                                          <option  *ngFor="let e of especialistas" value="{{e.rut}}"> {{e.nombre}} {{e.apellido}}</option>
                                        </select></div>


                                        <div class="col"><label for=" ">Observación:</label></div>
                                        <div class="col"><textarea class="col-10" rows="4" type="text" name="observacion" id="obseracion" [(ngModel)]="consulta.observacion" placeholder="Observación"></textarea></div>
                                        <div class="align-content-center "><button type="submit " class="btn btn-primary "> Guardar</button></div>
                                    </div>
                                </div>

                            </form>




                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="card-body ">

                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col ">Rut</th>
                            <th scope="col ">Nombres</th>
                            <th scope="col ">Apellidos</th>
                            <th scope="col ">Dirección</th>
                            <th scope="col ">Télefono</th>
                            <th scope="col ">Email</th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes; let i=index ">

                            <td>{{paciente.rut}}</td>
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.apellido}}</td>
                            <td>{{paciente.direccion}}</td>
                            <td>{{paciente.telefono}}</td>
                            <td>{{paciente.correo}}</td>
                            <td><i class="far fa-address-book " data-toggle="modal" data-target="#newConsulta" (click)="obtenerPaciente(paciente)"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>