<div class="container mt-5">
    <div class="card">
        <div class="container mt-5" style="text-align: center;">
            <h3>Listado de Consultas</h3>
            <hr>
            <div class="container">

                <label for="">Buscar:</label>
                <input type="date" name="fecha" #fecha id="fecha">
                <button class="btn btn-primary" (click)="buscar(fecha.value)" type="submit" class="btn btn-primary">Ir</button>
            </div>
            <div class="container ">
                <div class="card-body ">

                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th scope="col ">Rut</th>
                                <th scope="col ">Fecha</th>
                                <th scope="col ">Hora</th>
                                <th scope="col ">Tipo Atención</th>
                                <th scope="col ">Especialista</th>
                                <th scope="col ">Observación</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consulta of consultas1; let i=index ">

                                <td>{{consulta.rut}}</td>
                                <td>{{consulta.fecha}}</td>
                                <td>{{consulta.hora}}</td>
                                <td>{{consulta.tipoAtencion}}</td>
                                <td>{{consulta.especialista}}</td>
                                <td>{{consulta.observacion}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>