<div class="container mt-5">

    <div class="card">

        <div class="container mt-5" style="text-align: center;">
            <h3>Ingresar Consulta</h3>
            <hr>
        </div>
        <div class="card-body ">
            <div class="container mt-3">

                <form class="form-group">

                    <div class="container" style="text-align: center;">
                        <div class="row row-cols-2">
                            <div class="col"><label type="text">Paciente:</label></div>
                            <div class="col"> <input class="col-10" type="text" name="" id="nombre" disabled></div>
                            <div class="col"><label>Fecha:</label></div>
                            <div class="col"><input class="col-10" type="date" name="" id="fecha" disabled></div>
                            <div class="col"><label for="">Tipo de Atención:</label></div>
                            <div class="col"><select class="col-10" name="" id="atencion">
                              <option value=""></option>
                              <option value="">Rehabilitación Oral</option>
                              <option value="">Ortodoncia</option>
                            </select></div>
                            <div class="col"><label for="">Especialista:</label></div>
                            <div class="col"><select class="col-10" name="" id="especialista">
                              <option value=""></option>
                              <option value="">Dr. </option>
                              <option value="">Dra.</option>
                            </select></div>
                            <div class="col"><label for="">Observación:</label></div>
                            <div class="col"><textarea class="col-10" name="Observacion" id="observacion" cols="47" rows="2"></textarea></div>

                            <div class="container mt-3" style="text-align: center;">
                                <button class="btn btn-primary">Guardar</button>
                                <button class="btn btn-danger">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
