<div class="container mt-5">

    <div class="card">

        <div class="container mt-5" style="text-align: center;">
            <h3>Ingresar Nuevo Paciente</h3>
            <hr>
        </div>
        <div class="card-body ">
            <div class="container mt-3">

                <form class="form-group">

                    <div class="container" style="text-align: center;">
                        <div class="row row-cols-2">
                            <div class="col"><label type="text">Nombres:</label></div>
                            <div class="col"> <input class="col-10" type="text" name="" id="nombre" placeholder="Nombres"></div>
                            <div class="col"><label>Apellidos:</label></div>
                            <div class="col"><input class="col-10" type="text" name="" id="apellido" placeholder="Apellidos"></div>
                            <div class="col"><label for="">Télefono:</label></div>
                            <div class="col"><input class="col-10" type="number" name="" id="Télefono" placeholder="999999999"></div>
                            <div class="col"><label for="">Correo:</label></div>
                            <div class="col"><input class="col-10" type="email" name="" id="email" placeholder="ejemplo@mail.com"></div>
                            <div class="col"><label for="">Dirección:</label></div>
                            <div class="col"><input class="col-10" type="text" name="" id="direccion" placeholder="Av.Andres Bello #1, Chillán"></div>
                            <div class="container mt-3" style="text-align: center;">
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
