<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/assets/images/Factibilidades.png " alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Clínica Dental Sonrie</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Misión y Visión</a></li>
                <li><a class="text-muted" href="#">¿Quiernes Somos?</a></li>
                <li><a class="text-muted" href="#">Noticias</a></li>
                <li><a class="text-muted" href="#">Preguntas Frecuentes</a></li>
                <li><a class="text-muted" href="#">Convenios</a></li>
                <li><a class="text-muted" href="#">Trabaja con nosotros</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Especialidades</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Ortodoncia</a></li>
                <li><a class="text-muted" href="#">Rehabilitación Oral</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contactanos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Call Center 800 200 1000</a></li>
                <li><a class="text-muted" href="#">Redes Sociales</a></li>
                <li> <i class="fab fa-facebook-square fa-3x"></i> <i class="fab fa-instagram fa-3x"></i> <i class="fab fa-twitter fa-3x"></i></li>

            </ul>
        </div>
    </div>
</footer>